{{> header}}

<tr>
	<td>
		<p>Welcome {{username}} !</p>
		<p>Please confirm your email address by clicking the link below:</p>
		<p>
			<a href="{{confirmationLink}}">{{confirmationLink}}</a>
		</p>
	</td>
</tr>

{{> footer}}
