{{> header}}

<tr>
	<td>
		<p>Hello {{username}} !</p>
		<p>Please reset your password by clicking the link below:</p>
		<p>
			<a href="{{resetLink}}">{{resetLink}}</a>
		</p>
	</td>
</tr>

{{> footer}}